* {
  box-sizing: border-box;
}

body {
  font: 1em/1.5 'Catamaran', sans-serif;
  color: #5ad089;
  background: #f6f7f7;
  padding-top: 145px;
  padding-bottom: 3em;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
